<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav class="shadow-md">
      <div class="h-14 flex items-center">
        <div class="px-2.5">
          <img src="assets/image/profile.svg" alt="Profil" />
        </div>
        <div class="flex justify-left pr-6">
          <div class="text-base font-medium">Hi, {{ title }}</div>
        </div>
        <div class="flex justify-right pr-6">
          <button
            class="bg-orange-500 hover:bg-yellow-400 text-white font-bold py-2 px-2 rounded"
          >
            Add Data
          </button>
        </div>
      </div>
    </nav>
    <main>
      <div class="max-w-screen-md mx-auto">
        <table class="min-w-full bg-white border border-gray-300 mt-6">
          <thead class="bg-red-400">
            <tr>
              <th>Profile</th>
              <th>Nama</th>
              <th>Negara</th>
              <th>Kota</th>
              <th>Balance</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of tutorials">
              <img
                src="{{ data.avatar }}"
                alt="Avatar"
                style="width: 50px; height: 50px"
              />
              <td>{{ data.name }}</td>
              <td>{{ data.country }}</td>
              <td>{{ data.city }}</td>
              <td>{{ data.balance }}</td>
              <td>
                <button
                  class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-2 rounded"
                >
                  Edit
                </button>
                <button
                  class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-2 rounded"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
